@import "tailwindcss";

:root {
  --background: #dee7e973;
  --foreground: #121116;
  --primary: #1c5de9d3;
  --accent: #a7cdead3;
  --card: #dbf0ff;
}

@theme inline {
  --color-background: var(--background); 
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #121116;
    --foreground: #ecf2fc;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
